allure-pytest==2.8.21
allure-python-commons==2.8.21
atomicwrites==1.4.0
attrs==20.2.0
colorama==0.4.3
comtypes==1.1.7
enum34==1.1.10
importlib-metadata==1.7.0
iniconfig==1.0.1
jsonpickle==1.4.1
lxml==4.6.1
more-itertools==8.5.0
msedge-selenium-tools==3.141.2
namedlist==1.8
p==0.0.0
packaging==20.4
pluggy==0.13.1
pony==0.7.13
py==1.9.0
PyMySQL==0.10.1
pyparsing==2.4.7
pytest==6.0.2
pywin32==228
pywinauto==0.6.8
selenium==3.141.0
six==1.15.0
toml==0.10.1
urllib3==1.25.10
zipp==3.1.0
